.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title{
  font-family: 'Courier New', Courier, monospace;
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
  margin: 0 0 1px 0;
  top: 0;
}

.subtitle{
  font-family: 'Courier New', Courier, monospace;
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
  margin: 0 0 1px 0;
}

.rules{
  list-style: square;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 1.5rem;
}

.welcomeGallows{
  font-family:'Courier New', Courier, monospace;
  font-size: 4rem;
  line-height: 1;
  white-space: pre;
  text-align: left;
  margin: 0 0 4px 0;
}

.startingButton{
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 8px 14px;       
  font-size: 1rem;
  border-radius: 8px;
  font-weight: bolder;
}